.card-body{
    width: 310px;
    height: 350px;
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 15px;
    background: #ffff;
    border: 1px solid gold;
}
.card-container{
    border-radius: 5px;
    /*box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;*/
    height: fit-content;
    color: #000;
    transform: translate(-2%, -10%);
    box-sizing: border-box;
}
.h4{
    margin-left: 20%;
    padding: 0 0;
    margin-top: 40px;
    color: black;
}
h5{
   text-align: center;
}
.customer-avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: calc(50% - 50px);
}
.info{
    display: flex;
    flex-direction: column;
}
.address{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: absolute;
    margin-top: 20px;
    width: 100%;
}
.address > span{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}
.address-content{
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin-left: 20px;
}
.address-content > span{
    width: 60%;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
}
.address-content > p{
    width: 100%;
    text-align: left;
}
@media only screen and (max-width: 768px){
    .card-body{
        width: 90%;
        height: 350px;
    }
    .address-content{
        margin-left: 20px;
    }
}